#userAllInfoSection{
    display: block;
    background-color: white;
    border: 1px solid #80808080;
 
    padding: 0;
    z-index: 100;
    transition: 1.0s;

    .usuarioGeralInfo{
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
    }

    .boletim{
        color: rgb(27, 27, 27);
        // background-color: #171717e8;
        background-color: #c9c9c9e8;
        width: 100%;
        border: 1px solid whitesmoke;

        tr{
            
            text-align: center;

            td{
                text-transform: capitalize;
                padding: 5px;
                border-bottom: 1px solid whitesmoke;
            }
        }

     
    }

    .contentRow{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: center;

        .userInfoDiv{
            margin: 10px;
        }
        
        .usuarioDevInfo{
        background-color: rgb(236, 236, 236);
        }

        .usuarioNome{
            text-transform: capitalize;
        }
    }

    
    .userInfoData{
        font-weight: bold;
    }

    h1{
        margin-bottom: 10px;
        font-size: 1.4rem
    }

    .userAllInfoBtn{
        padding: 5px;
        width: 95px;
        color: white;
        border: none;
        font-weight: 500;
        cursor: pointer;
        
    }

    .editInput{
        display: none;
    }
    .confirmCancelBtnDiv{
        display: none;
    }
    #editBtn{
        background-color: #007bff;
    }
    #cancelBtn{
        background-color: #dc3545;
    }
    #saveBtn{
        background-color: #28a745;
    }
}    